@main("APIStats - Home") {
<div class="navbar-inner">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
	<div class="span4">
	  <span id="totalReqs"><h1>35,456</h1><h4>requests</h4></span>
	</div>
	<div class="span4">
	  Area Chart
	</div>
	<div class="span4">
	  Pie Chart
	</div>
      </div>	
    </div>

    <div class="row-fluid">
      <div class="span12">
	<div class="span4">
	  <h6>Response Time(ms)</h6>
	    <div id="respTimeChart"></div>
	    @barchart("#respTimeChart")
        </div>
	<div class="span4">
	  <h6>Response Size(kb)</h6>
	    <div id="respSizeChart"></div>
	    @barchart("#respSizeChart")
        </div>
	<div class="span4">
	  <h6>Errors(%)</h6>
	  <div id="errorChart"></div>
	  @barchart("#errorChart")
        </div>
      </div>
    </div>


    <div class="row-fluid">
      <div class="span12 offset6">
	Table
      </div>
    </div>
  </div>
</div>

}
